/* ContactMe.html */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
      body{
        height: auto;
        width: auto;
        font-family: 'Source Code Pro', monospace;
      }
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .form{
    opacity: 70%;
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
    margin-top: 18px;
  }
  #name, #email, #number{
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 6px;
    width: 340px;
    max-width: 100%;
    padding: 3px;
    margin-top: 4px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
  #message{
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 6px;
    width: 340px;
    max-width: 100%;
    height: 100px;
    padding: 3px;
    margin-top: 4px;
    resize: none;
  }
  #submit{
    background-color: transparent;
    color: white;
    min-width: 100%;
    border: 2px solid teal;
    border-radius: 8px;
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;
  }
  #submit:hover{
    transform: scale(1.025);
    transition: 10.5ms;
  }
  .social-btn{
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 2px;
  }
  .social-btn:hover{
    transform: scale(1.025);
    transition: 10.5ms;
  }