/* Index.html */

#info_section{
    background: none;
}
.myInfo{
    padding:35px ;
    margin: 100px auto;
    display: grid;
}
.title{
    display: flex;
    font-size: clamp(1rem, 10vw, 2rem); 
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.subtitle{
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.separator{
    display: flex;
    justify-content: center;
    align-items: center;
    size: 10px;
    margin: 0px auto;
    padding: 8px 0px;
}
.paragraph{
    display: flex;
    text-align: center;
    padding: 0px 10px 10px;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
}

/* section skills */
#skills_section{
    margin: 20px auto;
    margin-top: 250px;
}

#learning_section{
    margin: 0px auto;
    margin-top: 250px;
}

#skills_title{
    display: flex;
    font-size: clamp(1rem, 10vw, 2rem); 
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mySkills{
    display: flex;
}
.skills{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: auto;
    padding: 15px;
    margin: 8px;
}
.skills:hover{
    transform: scale(1.05);
    transition: 10.5ms;
}
.skills img{
    width: 50px;
    height: auto;
}

@media (min-width:600px){
    #skills_section{
        width: 600px;
    }

    #learning_section{
        width: 600px;
    }
}
/* ContactMe.html */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
      body{
        height: auto;
        width: auto;
        font-family: 'Source Code Pro', monospace;
      }
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .form{
    opacity: 70%;
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  
    label {
      color: whitesmoke;
    }

    .form-heading {
      color: #000;
      padding: 5px;
      font-size: 20px;
      text-align: center;
    }
  #name, #email, #number{
    background-color: transparent;
    color: white;
    border: 2px solid teal;
    border-radius: 6px;
    width: 340px;
    max-width: 100%;
    padding: 3px;
    margin-top: 4px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
  
  input,
  textarea {
    color: #fff;
  }

  textarea:focus,
  input:focus {
    color: #fff;
    outline: none;
  }

  #message{
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 6px;
    width: 340px;
    max-width: 100%;
    height: 100px;
    padding: 3px;
    margin-top: 4px;
    resize: none;
  }
  #submit{
    background-color: transparent;
    color: white;
    min-width: 100%;
    border: 2px solid teal;
    border-radius: 8px;
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;
  }
  #submit:hover{
    transform: scale(1.025);
    transition: 10.5ms;
  }
  .social-btn{
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 2px;
    color: silver;
  }
  .social-btn:hover{
    transform: scale(1.025);
    transition: 10.5ms;
    color: silver;
  }
  .fa {
      margin-top: 10px;
    }
    @media screen and (max-width:475px) {
      .form {
        height: auto;
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

/* Project.html */
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        img {
            width: 100%;
        }



        .blog-post {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            max-width: 70rem;
            padding: 2rem;
            background-color: #fff;
            box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
            display: flex;
            align-items: center;
            border-radius: 8px;
        }

        .blog-img {
            width: 100%;
            max-width: 700px;
            height: 300px;
            position: relative;
        }

        .blog-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
            border-radius: 8px;
        }

        .blog-img::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(to right, rgba(79, 172, 254, .8) rgba(0, 242, 254, .8));
            box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
            border-radius: 8px;
        }

        .blog-info {
            padding-left: 20px;
            max-height: 400px;
        }

        .blog-title {
            font-size: 2.5rem;
            margin: 1rem 0 0.3rem;
            text-transform: uppercase;
            color: #4facfe;
        }

        .blog-text {
            margin-bottom: 1.3rem;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, .7);
        }

        .blog-btn {
            float: right;
            padding: 1.5rem 3rem;
            text-transform: uppercase;
            color: #fff;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
            border-radius: 8px;
            text-decoration: none;
        }

        .blog-btn:hover {
            background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
        }

        @media screen and (max-width: 1068px) {
            .blog-post {
                max-width: 1000px;
                padding-top: 1.5rem;
            }

            .blog-post_img {
                min-width: 30rem;
                max-width: 30rem;

            }

            @media screen and (max-width: 1024px) {
                .blog-post {
                    padding-top: 2.5rem;
                    flex-direction: column;
                    max-width: 70rem;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                .blog-info {
                    max-width: 70rem;
                }

                .blog-post_img {
                    min-width: 100%;
                    max-width: 100%;
                    /* transform: translate(0, -8rem); */
                    transition: 10ms;
                }
            }

            @media screen and (max-width:505px) {

                .section {
                    padding: 0 2rem;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .blog-post {
                    max-width: 40rem;
                    max-height: auto;
                    padding: .2rem;
                    padding-left: .1rem;
                }

                .blog-post_img img {
                    max-width: 100px;
                    height: auto;

                }

                .blog-info {
                    max-width: 30rem;
                }

                .blog-title {
                    font-size: 1.5rem;
                }

                .blog-text {
                    font-size: 0.8rem;
                }

                .blog-btn {
                    padding: 0.3rem 1rem;
                    margin-bottom: 10px;
                    margin-right: 10px;
                }


            }
        }