/* Index.html */

    #CVD:hover {
      transform: scale(1.025);
      transition: 10.5ms;
      color: white;
      background-color: #012;
    }
/* ContactMe.html */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
      body{
        height: auto;
        width: auto;
        font-family: 'Source Code Pro', monospace;
      }
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .form{
    opacity: 70%;
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  
    label {
      color: whitesmoke;
    }

    .form-heading {
      color: #000;
      padding: 5px;
      font-size: 20px;
      text-align: center;
    }
  #name, #email, #number{
    background-color: transparent;
    color: white;
    border: 2px solid teal;
    border-radius: 6px;
    width: 340px;
    max-width: 100%;
    padding: 3px;
    margin-top: 4px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }
  
  input,
  textarea {
    color: #fff;
  }

  textarea:focus,
  input:focus {
    color: #fff;
    outline: none;
  }

  #message{
    background-color: transparent;
    border: 2px solid teal;
    border-radius: 6px;
    width: 340px;
    max-width: 100%;
    height: 100px;
    padding: 3px;
    margin-top: 4px;
    resize: none;
  }
  #submit{
    background-color: transparent;
    color: white;
    min-width: 100%;
    border: 2px solid teal;
    border-radius: 8px;
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;
  }
  #submit:hover{
    transform: scale(1.025);
    transition: 10.5ms;
  }
  .social-btn{
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 2px;
    color: silver;
  }
  .social-btn:hover{
    transform: scale(1.025);
    transition: 10.5ms;
    color: silver;
  }
  .fa {
      margin-top: 10px;
    }

/* Project.html */
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-flow: wrap;
    }

    .Cards {
      background-color: rgb(232, 223, 223, 0.5);
      border: 3px solid rgb(0, 0, 0, 1.0);
      opacity: 30%;
      border-radius: 5%;
      margin-top: 4rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      height: 300px;
      width: 280px;
      max-width: 100%;
      padding: 0px;
    }

    .Cards:hover {
      transform: scale(1.025);
      transition: 10.5ms;
    }

    .imgplace {
      height: 180px;
      width: 220px;
      max-width: 100%;
      margin-left: 27.5px;
      margin-top: 27.5px;
    }

    .imgplace img {
      width: 100%;
      height: 100%;
    }

    .desc p {
      color: rgb(0, 0, 0, 1.0);
      max-width: 100%;
      height: 42px;
      margin-left: 1rem;
      opacity: 1.0;
      font-size: 14px;
      margin-top: 12.5px;
    }

    .startbtn button {
      background-color: greenyellow;
      color: #fff;
      border: 2px solid black;
      border-radius: 8px;
      height: 38px;
      width: 220px;
      max-width: 100%;
      padding: 3px;
      margin-left: 25px;
      margin-top: 11px;
    }
